#thankU {

    text-align: center;

    height: 440px;
    padding: 45px 25px;

    img {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 80px;
        height: 80px;
    }
    h1 {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 45px;
    }
}